body {
    background-color: hsl(0, 0%, 95%);
}

h1 {
    font-size: 32px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    margin: 30px 0;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    line-height: 28px;
    color: hsla(0, 0%, 100%, 0.75);
}

.column {
    columns: 3;
    max-width: 844px;
    font-size: 15px;
    align-items: center;
    align-self: center;
    margin: 10% auto;
    column-gap: 0;
}

.first-column {
    border: none;
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
}

.second-column {
    border: none;
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
}

.third-column {
    border: none;
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
}

.button {
    margin: 61px 0px 14px;
    background-color: white;
    border-color: hsl(0, 0%, 95%);
    border-radius: 22px;
    padding: 14px 28px;
    align-items: center;
}

#span1 {}

.button:hover {
    margin: 61px 0px 14px;
    background-color: transparent;
    border-color: hsl(0, 0%, 95%);
    border-radius: 22px;
    padding: 14px 28px;
    align-items: center;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}